@charset "utf-8";
.lunbozi article {
  overflow: hidden;
}
.lunbozi article .marquee-box .marquee-item-sj .js-marquee-wrapper {
  position: relative;
  width: 600rem;
  margin-left: 0px;
  animation: marqueeAnimation-5543901 45s linear 1s infinite;
}
.lunbozi article .marquee-box .marquee-item-sj .js-marquee-wrapper .js-marquee div {
  font-size: 7rem;
  display: inline-block;
  margin-right: 5rem;
  float: left;
}
