<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--指定IE浏览器的渲染模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <title>I.T 官方商城 | 精选时尚设计师单品网购平台</title>
    <link rel="stylesheet/less" href="less3/main.less">
    <script src="js/less.js"></script>
    <script>less.watch()</script>
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--top nav部分 -->
<div class="top-nav">
        <div class="top-center">
                <div class="left ws">
                    <p>
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        <span>购物免费配送</span>
                    </p>
                </div>
                <div class="right hidden-sm">
                    <div class="switch">
                        <p>
                            <span>切换店铺</span>
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </p>
                        <p class="switch-store">
                            <a href="#">
                                <i>I.T</i>
                                <span>前往 I.T 选购</span>
                            </a>
                        </p>
                    </div>
                </div>
         </div>
</div>
<!--顶部导航条-->
<header class="header header-sit">
    <div class="header-container clearfix">
        <div class="nav-container">
            <ul class="nav nav-pills hidden-sm">
                <li>
                    <a href="nvzhuangindex.html">
                        <span>女装</span>
                        <div class="sub-menu">
                            <ul>
                                <li>
                                    <a href="">新品上线</a>
                                    <div class="sub-menu3">
                                        <ul>
                                            <li>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#" style="color:red;"><span>服装新品</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href=""> 服装</a>
                                    <div class="sub-menu3">
                                        <ul>
                                            <li>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">配饰</a>
                                    <div class="sub-menu3">
                                        <ul>
                                            <li>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href=""> 鞋履</a>
                                    <div class="sub-menu3">
                                        <ul>
                                            <li>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">品牌</a>
                                    <div class="sub-menu3">
                                        <ul>
                                            <li>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                                <a href="#"><span>服装新品</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">I.T 30</a>
                                    <div class="sub-menu3">
                                        <ul>
                                            <li>
                                                <a href="#"><span>新品上线</span></a>
                                                <a href="#"><span>服装</span></a>
                                                <a href="#"><span>配饰</span></a>
                                                <a href="#"><span>鞋履</span></a>
                                                <a href="#"><span>搜索更多</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="I.T_men.html"><span>男装</span></a>
                </li>
                <li>
                    <a href="#"><span>愿望清单</span></a>
                </li>
            </ul>
           <ul class="show-sm">
               <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                   <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
               </button>
               <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
           </ul>
        </div>

        <div class="logo">
            <i>I.T</i>
        </div>
        <div class="right">
            <ul>
                <li class="search-box hidden-sm">
                    <a href="#">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="site hidden-sm">
                    <a href="#">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="account hidden-sm">
                    <a href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="header-shopping-bag">
                    <a href="#">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--图片-->
<div>
    <div class="myVideo" id="30v">
        <!--叠加图片循环来回显示-->
        <div class="pics">
            <img src="images/15427686675914161.jpg" alt="" class="pic1">
            <img src="images/15406920084589920.jpg" alt="" class="pic2">
        </div>
        <div class="content">
            <img src="images/15400135187584861.png" alt="" class="LogoImg fadeInUp one">
            <span class="text fadeInUp two">
                <br>
                I.T 30周年庆典特辑
                <br>
                Celebration 30 years of Inspiration
            </span>
            <div class="btn-cat fadeInUp three">
                <a href="#" class="btn">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    <span>探索更多</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--按钮组-->
<div class="part part-width btn-group">
<div class="btn-group-box">
    <ul>
        <li class="row">
            <div class="btn-box col-12-4 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>新品推荐</span>
                </a>
            </div>
            <div class="btn-box col-12-4 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>I.T 30周年</span>
                </a>
            </div>
            <div class="btn-box col-12-4 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>STYLENANDA</span>
                </a>
            </div>
            <div class="btn-box col-12-4 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>French Connection</span>
                </a>
            </div>
            <div class="btn-box col-12-4 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>所有品牌</span>
                </a>
            </div>
            <div class="btn-box col-12-4 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>所有商品</span>
                </a>
            </div>
        </li>
        <li class="row">
            <div class="btn-box col-12-3 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>上衣</span>
                </a>
            </div>
            <div class="btn-box  col-12-3 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>卫衣</span>
                </a>
            </div>
            <div class="btn-box  col-12-3 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>鞋履</span>
                </a>
            </div>
            <div class="btn-box  col-12-3 col-sm-12-6">
                <a href="#" class="btn-site btn-site-link">
                    <span>折扣优惠</span>
                </a>
            </div>
        </li>
    </ul>
</div>
</div>
<!--article-cont部分-->
<div class="part part-width article-cont">
<ul class="artileul">

</ul>
</div>
<!--新品部分-->
<div class="part part-width article-new">
    <div class="sit-product-box">
        <p>新品速览</p>
        <div class="new-box">
            <div class="swiper-container">
                   <div class="swiper-wrapper">
                       <ul class="swiperul">
                           <li>
                               <div class="grid">
                                   <div class="img-box">
                                       <img src="images/SGXJK2835415BBKX-pdp-1.jpg" alt="">
                                   </div>
                                   <div class="details-box">
                                       <div class="goods-box">
                                           <div class="goods-title">SPIRAL GIRL</div>
                                           <div class="goods-info">毛绒纸牌扣夹克</div>
                                           <div class="goodS-bottom clearfix">
                                        <span class="price">
                                            <span>¥</span>
                                            1,499.00
                                        </span>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                           </li>
                           <li>
                               <div class="grid">
                                   <div class="img-box">
                                       <img src="images/AXXSTNPB0945BYEZ-pdp-1.jpg" alt="">
                                   </div>
                                   <div class="details-box">
                                       <div class="goods-box">
                                           <div class="goods-title">AS KNOW AS</div>
                                           <div class="goods-info">拼色格纹直排扣衬衫</div>
                                           <div class="goodS-bottom clearfix">
                                        <span class="price">
                                            <span>¥</span>
                                            799.00
                                        </span>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                           </li>
                           <li>
                                 <div class="grid">
                               <div class="img-box">
                                   <img src="images/AMOPT84PT004BIVX-pdp-1.jpg" alt="">
                               </div>
                               <div class="details-box">
                                   <div class="goods-box">
                                       <div class="goods-title">AMONG</div>
                                       <div class="goods-info">车线缝饰露踝裤</div>
                                       <div class="goodS-bottom clearfix">
                                        <span class="price">
                                            <span>¥</span>
                                            899.00
                                        </span>
                                       </div>
                                   </div>
                               </div>
                           </div>

                           </li>
                           <li>
                               <div class="grid">
                                   <div class="img-box">
                                       <img src="images/PHXSN741301WBYEX-pdp-1.jpg" alt="">
                                   </div>
                                   <div class="details-box">
                                       <div class="goods-box">
                                           <div class="goods-title">PUMA</div>
                                           <div class="goods-info">Suede Classic 系列 绑带运动鞋</div>
                                           <div class="goodS-bottom clearfix">
                                        <span class="price">
                                            <span>¥</span>
                                            899.00
                                        </span>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                           </li>
                       </ul>

                   </div>
            </div>
            <div class="btn-cat">
                <div class="btn-sit btn-sit-fancy">
                    <span>立即选购</span>
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--中间大图部分-->
<div class="part article-tow-kv">
        <a href="#" class="ag">
        </a>
</div>
<!--article-cont部分-->
<div class="part part-width article-cont">
    <ul class="artileul1">

    </ul>
</div>
<!--品牌部分-->
<div class="part part-width article-brand">
    <div class="brand-box clearfix">
        <div class="brand-left">
            <p>人气品牌</p>
        </div>
        <div class="swiper-container1 brand-right" style="width: 997px">
            <div class="swiper-wrapper1">
                <ul class="swiperul1">
                    <li>
                        <div class="grid">
                            <a href="#" class="img-box">
                                <img src="images/15391551310994735.jpg" alt="">
                                <p>Stylenanda</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <a href="#" class="img-box">
                                <img src="images/15391551311386028.jpg" alt="">
                                <p>Stylenanda</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <a href="#" class="img-box">
                                <img src="images/15391551312705469.jpg" alt="">
                                <p>Stylenanda</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <a href="#" class="img-box">
                                <img src="images/15391551313692657.jpg" alt="">
                                <p>Stylenanda</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <a href="#" class="img-box">
                                <img src="images/1539155131402446.jpg" alt="">
                                <p>Stylenanda</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <a href="#" class="img-box">
                                <img src="images/15391551314901419.jpg" alt="">
                                <p>Stylenanda</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <a href="#" class="img-box">
                                <img src="images/15391551315827050.jpg" alt="">
                                <p>Stylenanda</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="grid">
                            <a href="#" class="img-box">
                                <img src="images/15391551316923698.jpg" alt="">
                                <p>Stylenanda</p>
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="btn-cta">
            <div class="btn-sit btn-sit-fancy">
                <span>浏览全部</span>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div class="footer footer-sit">
<div class="footer-top">
    <div class="footer-con">
        <div class="clearfix">
            <ul class="footer-top-left clearfix">
                <li class="free">
                    <a href="#">
                            <h5>免运费</h5>
                            <p>全站免邮</p>
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="find-us">
                    <a href="#">
                        <h5>查找店铺</h5>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
            <div class="form-group sub">
                <div>
                    <label class="control-label">订阅i.t电子报</label>
                    <div class="form-input">
                        <div class="sub-content">
                            <input type="text" placeholder="电子邮箱">
                        </div>
                        <div class="sub-btn">
                            <a href="#" class="btn btn-sit-black sub-sign-btn">
                                <span>订阅</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="footer-con clearfix">
        <ul class="footer-help">
            <li>
                <a href="">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    在线客服
                </a>
                <div class="none show-sm">
                    <p>10:00 - 24:00 (周一至周日)</p>
                    <p>10:00 - 18:00 (节假日)</p>
                    <a href="#" class="btn btn-white-sec">联系客服</a>
                </div>
            </li>
            <li><a href="">帮助中心</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">会员制度</a></li>
            <li><a href="">订单查询</a></li>
            <li><a href="">关于我们</a></li>
        </ul>
        <div class="footer-right">
            <div class="select select-unified">
                <div class="dropup">
                    <button class="btn1 btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i></i><span class="country">中国</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#"><i></i><span>中国</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i></i><span>香港</span></a></li>
                    </ul>
                </div>
            </div>
            <ul class="footer-fllow">
                <li class="weixin">
                    <a href="" class="ewm">
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                        <div class="wxerm" style="display: none">
                            <img src="images/qrcode-weixin-sit.png" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                </a>
                </li>
            </ul>
        </div>
        <div class="footer-copy">
            <div class="footer-statement">
                <ul class="clearfix">
                    <li><a href="#">服务条款</a></li>
                    <li><a href="#">隐私政策</a></li>
                    <li><a href="#">Cookie政策</a></li>
                    <li><a href="#"> 沪ICP备15007211号-3</a></li>
                    <li><a href="#">
                        <i class="icon1"></i>上海工商
                    </a></li>
                    <li><a href="#">
                        <i class="icon2"></i>沪公网安备 31010102004473号
                    </a></li>
                </ul>
            </div>
            <div class="footer-icp">
                <i class="icon3"></i>
                <span>&copy</span>
                <span>2018</span>
                采延商贸（上海）有限公司
            </div>
        </div>
    </div>
</div>
<div class="back-top events-top" style="display: none">
    <i class="icon4"></i>
</div>
</div>
<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">女装 <span>男装</span></h3>
            </div>
            <div class="modal-body">
                <div class="searchbox">
                    <input type="text" placeholder="搜索女装">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <div class="ul1">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">新品上线</a>
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                    <li><a href="#">服装</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                    <li><a href="#">配饰</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                    <li><a href="#">鞋履</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                    <li><a href="#">品牌</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                    <li><a href="#">I.T 30</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                </div>
                <div class="ul2">
                    <li><a href="#">愿望清单</a></li>
                    <li><a href="#">注册/登录</a></li>
                </div>
                <div class="ul3">
                    <li><a href="#">门店地址</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">会员中心</a></li>
                </div>
                <div class="gobox">
                    <input type="text" placeholder="I.T  前往I.T选购">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>

<script src="lib/jquery/jquery-1.9.1.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="js/template-web.js"></script>
<script src="lib/IScroll/iscroll.js"></script>

<!--article-cont部分-->
<script type="text/html" id="articlecont">
    {{each list as value i}}
    <li>
        <a href="#" class="img-box">
            {{if isMobile}}
            <img src="{{value.simg}}" alt="">
            {{else}}
            <img src="{{value.bimg}}" alt="">
            {{/if}}
        </a>
    </li>
    {{/each}}
</script>


<!--大图片-->
<script type="text/html" id="bigimages">
{{each bgm as value i}}
{{if isMobile}}
<img src="{{value.sg}}" alt="">
{{else}}
<img src="{{value.bg}}" alt="">
{{/if}}
{{/each}}
</script>


<!--另一个cont-->
<script type="text/html" id="articlecont1">
    {{each list1 as value i}}
    <li>
        <a href="#" class="img-box">
            {{if isMobile}}
            <img src="{{value.simg1}}" alt="">
            {{else}}
            <img src="{{value.bimg1}}" alt="">
            {{/if}}
        </a>
    </li>
    {{/each}}
</script>
<!--模板引擎-->
<script>
   var data=[
       {
           "bimg":"images/15419942219209970.jpg",
           "simg":"images/15419942219925967.jpg"
       },
       {
           "bimg":"images/15419911395393649.jpg",
           "simg":"images/1541991139126250.jpg"
       }
   ]
   var bigimages=[
       {
           "bg":"images/15420043185114987.jpg",
           "sg":"images/15420043185213171.jpg"
       }
   ]
   var data1=[
       {
           "bimg1":"images/15419911398828561.jpg",
           "simg1":"images/15419911395694825.jpg"
       },
       {
           "bimg1":"images/15419905061311248.jpg",
           "simg1":"images/15419905059211415.jpg"
       }
   ]
   //3.当屏幕大小发生变化的时候
   var width = 0;
   var isMobile = false;
   window.onresize = function(){
       width = document.body.clientWidth||document.documentElement.clientWidth;
       if(width < 1024){
           isMobile = true;
       }
       else{
           isMobile = false;
       }
       console.log(isMobile);
       render();
   }
   window.onresize();

   //渲染页面的方法
   function render(){
       //1.渲染图片的数据
       var html = template("articlecont",{list:data,isMobile:isMobile});
       document.querySelector(".artileul").innerHTML = html;
       //大图
       var html2 = template("bigimages",{bgm:bigimages,isMobile:isMobile});
       document.querySelector(".ag").innerHTML = html2;

       var html3 = template("articlecont1",{list1:data1,isMobile:isMobile});
       document.querySelector(".artileul1").innerHTML = html3;
   }

</script>

<!--拖拽的实现-->
<script>
    $lis=$(".swiperul li");
    var ul_width=0;
    $lis.each(function (idx,elem) {
        var ewidth=$(elem).outerWidth(true)
        ul_width+=ewidth;
    })
    $(" .swiperul").width(ul_width)

    new IScroll($('.swiper-wrapper')[0],{
        scrollX:true,
        scrollY:false,
        click:true
    });
</script>

<script>
    $lis1=$(".swiperul1 li");
    var ul_width1=0;
    $lis1.each(function (idx,elem) {
        var ewidth1=$(elem).outerWidth(true)
        ul_width1+=ewidth1;
    })
    $(" .swiperul1").width(ul_width1)
    new IScroll($('.swiper-wrapper1')[0],{
        scrollX:true,
        scrollY:false,
        click:true
    });

</script>


<!--固定导航栏-->
<script>
    $(function () {
        $(document).scroll(function () {
            var stop=$(window).scrollTop()
            if(stop>$(".nav-top").height()){
                $(".header").css({
                    "position":"fixed",
                    "top":0,
                    "background":"white",
                    "z-index":999
                });
            }
            else{
                $(".header").css("position","static")
            }

        })
    })
</script>

<!--回到顶部-->
<script>
    var topnav=document.querySelector(".top-nav")
    var backtop=document.querySelector(".back-top")
    window.onscroll=function (e) {
        var oev=e||window.event;
        var scrollTop=getScroll().scrollTop;
        if(scrollTop>10){
            backtop.style.display="block"
        }
        else{
            backtop.style.display="none"
        }
    }
    function getScroll(){
        var scrollTop = document.body.scrollTop||document.documentElement.scrollTop;
        var scrollLeft = document.body.scrollLeft||document.documentElement.scrollLeft;
        return {
            scrollTop:scrollTop,
            scrollLeft:scrollLeft
        }
    }
    backtop.onclick=function () {
        var timer=setInterval(function () {
            var currentScrollTop=getScroll().scrollTop
            var targetScrolltop=0;
            var step=-50
            if(Math.abs(currentScrollTop-targetScrolltop)<Math.abs(step)){
                document.body.scrollTop=targetScrolltop
                document.documentElement.scrollTop=targetScrolltop;
                clearInterval(timer)
                return
            }
            currentScrollTop+=step;
            document.body.scrollTop=currentScrollTop
            document.documentElement.scrollTop=currentScrollTop;
        },20)
    }
</script>

<!--鼠标移入显示二维码-->
<script>
    var a=document.querySelector(".weixin .ewm")
    var wxerm=document.querySelector(".ewm .wxerm")
    a.onmouseover=function () {
        wxerm.style.display="block";
    }
    a.onmouseleave=function () {
        wxerm.style.display="none"
    }
</script>
</html>



