*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearFix::before {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
.m_t10 {
  margin-top: 10px;
}
.m_b10 {
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .hidden-sm {
    display: none !important;
  }
  .ws {
    width: 100% !important;
  }
  .ws p {
    text-align: center;
    margin: auto auto;
    padding: 10px !important;
  }
  .show-sm {
    display: block !important;
    visibility: visible!important;
  }
  .header-sit {
    height: 50px !important;
  }
  .header-sit .nav-container ul:last-child span {
    padding-top: 10px !important;
  }
  .header-sit .logo i {
    font-size: 23px !important;
    line-height: 23px !important;
    margin-top: -5px;
  }
  .header-sit .right li.header-shopping-bag a {
    padding-top: 10px !important;
  }
  .LogoImg {
    width: 190px!important;
    height: auto;
  }
  .text {
    font-size: 18px !important;
  }
  .col-sm-12-6 {
    width: 50% !important;
  }
  .part-width {
    width: 100% !important;
    padding: 20px;
  }
  .part-width.btn-group {
    padding: 12.5px 20px !important;
  }
  .part-width.btn-group ul li {
    max-width: 100%!important;
  }
  .part-width.btn-group ul li a {
    margin: 0 auto !important;
    min-width: 100%;
    width: 100% !important;
  }
  .part-width.btn-group ul li:first-child {
    width: 100% !important;
  }
  .part-width.btn-group ul li .btn-box {
    padding: 7.5px 10px 7.5px 0px !important;
  }
  .part-width.btn-group ul li .btn-box:nth-child(2n) {
    padding: 7.5px 0px 7.5px 10px !important;
  }
  .article-cont ul li {
    width: 100%!important;
    display: block;
  }
  .article-cont ul li:nth-child(1) {
    padding-right: 0px!important;
    margin: 0 auto;
  }
  .article-cont ul li:nth-child(2) {
    padding: 20px 0 0 !important;
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0, 0) !important;
  }
  .btn-cat .btn-sit-fancy {
    width: 100%!important;
  }
  .brand-box .brand-left {
    position: static!important;
    width: 100%;
    padding: 0 20px!important;
  }
  .brand-box .brand-right {
    padding: 20px 1px!important;
    position: static !important;
    margin: 0 auto!important;
  }
  .brand-box .btn-cta {
    position: static !important;
    padding: 0px 20px 20px 20px;
  }
  .brand-box .btn-cta .btn-sit-fancy {
    width: 100%!important;
  }
  .sub {
    padding: 30px 5px !important;
    background: #ffcd00 !important;
    width: 100% !important;
  }
  .sub label {
    margin-bottom: 38px !important;
    font-size: 20px !important;
    color: black !important;
    text-align: left !important;
    line-height: 20px !important;
    margin-left: 15px!important;
  }
  .sub .form-input {
    position: relative !important;
  }
  .sub .sub-content {
    margin-left: 0 !important;
    padding-bottom: 0 !important;
    width: 100%!important;
  }
  .sub .sub-content input {
    width: 100%!important;
    height: 30px!important;
    padding: 5px 0!important;
  }
  .sub .sub-btn {
    margin-top: 30px!important;
    width: 100%!important;
    padding: 0px!important;
  }
  .sub .sub-btn .btn {
    width: 100%!important;
  }
  .footer-top .free {
    margin-right: 8px!important;
  }
  .footer-top .find-us {
    margin-left: 8px!important;
  }
  .footer-bottom {
    background: #ffcd00;
    margin-top: -15px !important;
  }
  .footer-bottom .footer-con {
    padding: 0 20px!important;
    margin-left: 15px;
  }
  .footer-bottom .footer-help {
    margin-bottom: 9px!important;
  }
  .footer-bottom .footer-help li {
    margin-right: 0px !important;
    margin-bottom: 20px;
    width: 44%;
  }
  .footer-bottom .footer-help li:first-child {
    margin-bottom: 33px;
    width: 100%;
    margin-right: 0px;
  }
  .footer-bottom .footer-help li div {
    margin-top: -45px !important;
  }
  .footer-bottom .footer-help li a span {
    font-size: 18px;
    margin-right: 6px;
    margin-top: 1px;
    vertical-align: top;
  }
  .footer-bottom .footer-help li .btn {
    width: 100%;
    margin-top: 10px;
  }
  .footer-bottom .footer-help a {
    font-size: 15px;
  }
  .footer-bottom .footer-copy {
    min-width: 590px;
    width: 100%;
  }
  .footer-bottom .footer-copy .footer-statement {
    margin: 21px 0 10px ;
    width: 100%;
  }
  .footer-bottom .footer-copy .footer-statement ul {
    width: 100%;
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-statement ul li {
    margin-right: 0!important;
    line-height: 20px;
    margin-bottom: 20px!important;
    display: inline-block;
    float: none;
  }
  .footer-bottom .footer-copy .footer-statement ul li a {
    font-size: 10px!important;
  }
  .footer-bottom .footer-copy .footer-statement ul li:first-child {
    width: 17%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:first-child a {
    text-align: left;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(2) {
    width: 28%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(2) a {
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(3) {
    width: 31%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(3) a {
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(4) {
    width: 24%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(4) a {
    text-align: right;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(5) {
    width: 34%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(5) a {
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(6) {
    width: 66%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(6) a {
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-icp {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 0px;
  }
  .footer-right {
    position: relative;
    width: 100%!important;
  }
  .footer-right .dropdown-menu {
    bottom: 50%;
    width: 100%;
  }
  .footer-right .footer-fllow {
    text-align: center!important;
    width: 100%;
    margin-top: 40px !important;
  }
  .footer-right .footer-fllow li {
    margin: 0 20px;
  }
  .footer-right .footer-fllow span {
    font-size: 30px!important;
  }
  .footer-right .btn1 {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .show-sm {
    display: none !important;
  }
  .header-sit {
    height: 60px !important;
  }
  .col-12-4 {
    width: 33.33333333%;
  }
  .col-12-3 {
    width: 25%;
  }
  .thumbnail {
    width: 23% !important;
    border: 1px solid black !important;
    border-radius: 0px!important;
    display: inline-block;
  }
}
.part-width {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 25px;
}
.clearfix {
  clear: both;
}
.footer-sit .footer-top .footer-con .sub .sub-content input::-webkit-input-placeholder {
  color: #000;
}
.dropdown-menu {
  min-width: 290px!important;
}
.caret {
  float: right;
  margin-top: 20px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.top-nav {
  width: 100%;
  height: 35px;
  min-width: 338px;
}
.top-nav .top-center {
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  font-size: 10px;
}
.top-nav .top-center div {
  position: relative;
}
.top-nav .top-center .left {
  width: 50%;
  float: left;
  background: #ffcd00;
  padding-left: 20px;
}
.top-nav .top-center .left p {
  color: #000;
  z-index: 1;
  padding: 8px 0px 0px;
}
.top-nav .top-center .left p span:first-child {
  font-size: 18px;
  margin-right: 10px;
  margin-left: 12px;
  margin-top: -3px;
  vertical-align: middle;
}
.top-nav .top-center .right {
  width: 50%;
  float: right;
  background: #000;
}
.top-nav .top-center .right .switch {
  position: relative;
  padding: 10px 0 11px;
  text-align: right;
  height: 35px;
  padding-right: 20px;
}
.top-nav .top-center .right .switch p {
  display: inline-block;
}
.top-nav .top-center .right .switch p:first-child span:last-child {
  font-size: 16px;
  margin-right: 12px;
  margin-left: 10px;
  margin-top: -5px;
  vertical-align: middle;
}
.top-nav .top-center .right .switch .switch-store {
  position: absolute;
  padding-top: 10px;
  z-index: 20;
  top: 100%;
  right: 30px;
  display: none;
}
.top-nav .top-center .right .switch .switch-store a {
  color: #000;
  background: #fff;
  width: 160px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  font-weight: 400;
  border: 1px solid #000;
  display: block;
  text-decoration: none;
}
.top-nav .top-center .right .switch .switch-store a i {
  font-size: 20px;
  font-family: "微软雅黑";
  font-style: normal;
  margin-left: 0px;
  font-weight: 500;
}
.top-nav .top-center .right .switch .switch-store a span {
  margin-left: 8px;
  vertical-align: top;
  display: inline-block;
}
.top-nav .top-center .right .switch .switch-store a:hover {
  color: #fff;
  background: #000;
}
.top-nav .top-center .right:hover .switch-store {
  display: block;
}
.header-sit {
  height: 60px;
  position: relative;
  width: 100%;
  padding: 0;
  background: #fff;
  min-width: 338px;
}
.header-sit .header-container {
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}
.header-sit .header-container .nav-container {
  top: 3px;
  float: left;
}
.header-sit .header-container .nav-container .nav-pills li a {
  position: relative;
  font-size: 10px;
  padding: 5px 18px;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
.header-sit .header-container .nav-container .nav-pills li a:hover {
  background-color: #fff;
  text-decoration: none;
  color: black;
}
.header-sit .header-container .nav-container .nav-pills li .sub-menu {
  display: none;
  position: absolute;
  z-index: 999;
  margin-top: -10px;
  background: #fff;
}
.header-sit .header-container .nav-container .nav-pills li:hover {
  text-decoration: none;
}
.header-sit .header-container .nav-container .nav-pills li:hover .sub-menu {
  display: block;
  width: 1400px;
  border: 0;
  border-bottom: 1px solid #000;
  left: 0;
  border-radius: 0;
}
.header-sit .header-container .nav-container .nav-pills li:hover .sub-menu ul li {
  float: left;
  display: inline-block;
  text-align: left;
  width: 30%;
  margin-right: -290px !important;
  vertical-align: top;
  margin-bottom: 20px;
}
.header-sit .header-container .nav-container .nav-pills li:hover .sub-menu ul li:first-of-type {
  margin-top: -12px;
  margin-left: 30px;
}
.header-sit .header-container .nav-container .nav-pills li:hover .sub-menu ul li a {
  padding: 0;
  font-size: 18px!important;
  color: #000;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 18px;
  margin-bottom: 12px;
}
.header-sit .header-container .nav-container .nav-pills li:hover .sub-menu ul li .sub-menu3 {
  border: 0;
  padding: 0;
  display: block;
  position: relative;
  margin-top: 30px;
  margin-left: -50px;
}
.header-sit .header-container .nav-container .nav-pills li:hover .sub-menu ul li .sub-menu3 ul li:first-child {
  padding-left: 10px !important;
}
.header-sit .header-container .nav-container .nav-pills li:hover .sub-menu ul li .sub-menu3 a {
  padding: 0;
  margin-bottom: 8px !important;
  display: block;
  width: 100%;
}
.header-sit .header-container .nav-container .nav-pills li:hover .sub-menu ul li .sub-menu3 a span {
  font-size: 14px!important;
  color: #000;
  letter-spacing: 0.5px;
  line-height: 10px;
  display: block;
  font-weight: normal;
}
.header-sit .header-container .nav-container ul:last-child span {
  display: inline-block;
  cursor: pointer;
}
.header-sit .header-container .nav-container ul:last-child span:first-child {
  font-size: 18px!important;
  padding: 5px!important;
}
.header-sit .header-container .nav-container ul:last-child span:last-child {
  font-size: 20px;
  padding: 20px 15px 9px;
}
.header-sit .logo {
  width: 28px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  margin-top: 16px;
}
.header-sit .logo i {
  font-size: 28px;
  color: #000;
  line-height: 28px;
  font-style: normal;
  overflow: hidden;
  display: inline-block;
  font-family: "微软雅黑";
  font-weight: 500;
  cursor: pointer;
}
.header-sit .right {
  float: right;
  position: relative;
}
.header-sit .right li {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
}
.header-sit .right li.search-box a {
  padding: 20px 15px 9px;
  display: block;
  font-size: 20px;
  vertical-align: middle;
}
.header-sit .right li.site a {
  padding: 20px 15px 9px;
  display: block;
  font-size: 20px;
}
.header-sit .right li.account a {
  padding: 20px 15px 9px;
  display: block;
  font-size: 20px;
}
.header-sit .right li.header-shopping-bag a {
  padding: 20px 15px 9px;
  display: block;
  font-size: 20px;
}
.header-sit .right li a:hover {
  text-decoration: none;
  color: #ffcd00;
}
.btn-primary {
  color: #fff;
  background-color: #555 !important;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 0px 0px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  margin-top: -10px;
}
.modal-header h3 {
  font-weight: 600;
}
.modal-header span {
  display: inline-block;
  margin-left: 10px;
  color: #ccc;
}
.searchbox {
  width: 100%;
  padding: 0px 20px;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid #666;
}
.searchbox input {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #666;
}
.searchbox span {
  font-size: 20px;
  position: absolute;
  font-weight: normal;
  right: 36px;
  top: 12px;
}
.ul1 {
  list-style: none;
  padding: 10px 0;
  color: #666;
  border-bottom: 1px solid #666;
}
.ul1 a {
  color: #666;
  font-size: 16px;
  line-height: 40px;
}
.ul1 a:hover {
  text-decoration: none;
}
.ul1 span {
  display: block;
  float: right;
  font-size: 14px;
  position: relative !important;
  top: 5px !important;
}
.ul2 {
  list-style: none;
  padding: 10px 0;
  color: #666;
  border-bottom: 1px solid #666;
}
.ul2 a {
  color: #666;
  font-size: 16px;
  line-height: 40px;
}
.ul2 a:hover {
  text-decoration: none;
}
.ul3 {
  list-style: none;
  padding: 10px 0;
  color: #666;
  border-bottom: 1px solid #666;
}
.ul3 a {
  color: #666;
  font-size: 16px;
  line-height: 40px;
}
.ul3 a:hover {
  text-decoration: none;
}
.gobox {
  width: 100%;
  padding: 20px 20px 10px;
  position: relative;
  padding-bottom: 15px;
}
.gobox input {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #666;
}
.gobox span {
  font-size: 20px;
  position: absolute;
  font-weight: normal;
  right: 32px;
  top: 31px;
}
.myVideo {
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  position: relative;
  background: black;
  min-width: 338px;
}
.myVideo .pics {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}
.myVideo .pics .pic1 {
  width: 100%;
  height: 100%;
}
.myVideo .pics .pic2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-animation: picDraw 5s ease-in-out infinite;
}
@keyframes picDraw {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.myVideo .content {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 32px;
  line-height: 1.6;
  color: #fff;
}
.myVideo .content .LogoImg {
  display: block;
  margin: 0px auto;
  width: 290px;
  height: auto;
}
.myVideo .content .fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.myVideo .content .one {
  animation-delay: 0.6s;
}
.myVideo .content .two {
  animation-delay: 1.2s;
}
.myVideo .content .three {
  animation-delay: 1.8s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.myVideo .content .text {
  margin-top: 10px;
  display: block;
  font-size: 20px;
}
.myVideo .content .btn-cat {
  padding-top: 50px;
}
.myVideo .content .btn-cat .btn {
  border: 1px solid white;
  color: white;
  background: rgba(0, 0, 0, 0);
  padding: 0px 100px;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
}
.myVideo .content .btn-cat .btn span {
  display: inline-block;
}
.myVideo .content .btn-cat .btn span:first-child {
  margin-right: 10px;
}
.btn-group {
  padding: 10px 0;
}
.btn-group.part-width {
  max-width: 1170px;
  margin: 0 auto;
  padiing-bottom: 25px;
}
.btn-group.part {
  display: block;
}
.btn-group .btn-group-box ul {
  list-style: none;
}
.btn-group .btn-group-box ul li {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}
.btn-group .btn-group-box ul li:first-child {
  max-width: 600px;
}
.btn-group .btn-group-box ul li.row,
.btn-group .btn-group-box ul li [class*=col-] {
  font-size: 0;
  position: relative;
}
.btn-group .btn-group-box ul li [class*=col-] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 14px;
}
.btn-group .btn-group-box ul li .btn-box {
  padding: 15px 0;
  text-align: center;
}
.btn-group .btn-group-box ul li a {
  display: inline-block;
  margin: 0 15px;
  min-width: 170px;
  font-weight: 700;
}
.btn-group .btn-group-box ul li a:hover {
  background: #ffcd00 !important;
}
.btn-group .btn-group-box ul li a.btn-site-link {
  width: 160px;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  display: inline-block;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}
.btn-group .btn-group-box ul li a.btn-site {
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 16px;
  height: 48px;
}
.btn-group .btn-group-box ul li a.btn-site span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 20px;
  font-size: 14px;
}
.article-cont ul {
  position: relative;
}
.article-cont ul li {
  width: 50%;
  display: inline-block;
}
.article-cont ul li:nth-child(1) {
  padding-right: 15px;
}
.article-cont ul li:nth-child(2) {
  padding-left: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
.article-cont ul li .img-box {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  display: block;
}
.article-cont img {
  width: 100%;
  display: block;
  max-width: 100%;
  vertical-align: middle;
}
.article-new {
  margin-top: -10px;
}
.article-new .sit-product-box {
  text-align: center;
}
.article-new .sit-product-box p {
  font-size: 40px;
  color: #000;
  letter-spacing: 2px;
  line-height: 52px;
  text-align: center;
  font-weight: 700;
}
.article-new .sit-product-box .btn-cat {
  margin: 0 auto;
}
.article-new .sit-product-box .btn-cat .btn-sit-fancy {
  padding: 0 15px 0 20px;
  text-align: left;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  box-shadow: 3px 3px 0 #3253d1;
  min-width: 370px;
  font-weight: 600;
  cursor: pointer;
}
.article-new .sit-product-box .btn-cat .btn-sit-fancy:hover {
  background: #3253d1;
  box-shadow: 3px 3px 0 #000;
}
.article-new .sit-product-box .swiper-container {
  padding: 26px 7px 30px;
  margin-left: auto;
  margin-right: 0px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li {
  width: 266.5px;
  margin-right: 30px;
  position: relative;
  float: left;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li:last-child {
  margin-right: 0px;
  float: right;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -7px;
  right: -7px;
  background: 0 0;
  border: 1px solid #000;
  z-index: -1;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li .grid {
  padding: 3px 11px 11px;
  width: 100%;
  border: 1px solid #000;
  background: #fff;
  text-align: left;
  perspective: 100px;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li .grid .img-box {
  padding: 0 25px 12px;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li .grid .img-box img {
  width: 100%;
  cursor: pointer;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li .grid .img-box img:hover {
  transition: transform 1s;
  transform: translateZ(20px);
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li .grid .goods-box div {
  font-size: 15px;
  color: #000;
  letter-spacing: 0.54px;
  line-height: 21px;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li .grid .goods-box .goods-title {
  overflow: hidden;
  font-family: "微软雅黑";
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li .grid .goods-box .goods-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-new .sit-product-box .swiper-container .swiper-wrapper ul li .grid .goods-box .goodS-bottom {
  margin-top: 10px;
  line-height: 21px;
  font-weight: 600;
}
.article-new .btn-sit {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
}
.article-new .btn-sit span {
  display: inline-block;
}
.article-new .btn-sit span:last-child {
  position: absolute;
  right: 15px;
  top: 16px;
}
.article-tow-kv {
  padding: 25px 0;
}
.article-tow-kv img {
  width: 100%;
}
.article-brand {
  width: 100%;
  padding: 25px 0 100px;
}
.article-brand .brand-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.article-brand .brand-box .brand-left {
  width: 23%;
  position: absolute;
  left: 0px;
}
.article-brand .brand-box .brand-left p {
  font-size: 20px;
  color: #000;
  letter-spacing: 1px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
}
.article-brand .brand-box .swiper-container1 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.article-brand .brand-box .swiper-container1 .swiper-wrapper1 {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.article-brand .brand-box .swiper-container1 .swiper-wrapper1 ul li {
  display: inline-block;
  position: relative;
  width: 269px;
  margin-right: 29px;
  float: left;
}
.article-brand .brand-box .swiper-container1 .swiper-wrapper1 ul li:last-child {
  margin-right: 0px;
}
.article-brand .brand-box .swiper-container1 .swiper-wrapper1 ul li a:hover {
  text-decoration: none;
}
.article-brand .brand-box .swiper-container1 .swiper-wrapper1 ul li .img-box {
  width: 100%;
  display: block;
  perspective: 100px;
}
.article-brand .brand-box .swiper-container1 .swiper-wrapper1 ul li .img-box img {
  width: 100%;
}
.article-brand .brand-box .swiper-container1 .swiper-wrapper1 ul li .img-box img:hover {
  transition: transform 1s;
  transform: translateZ(5px);
}
.article-brand .brand-box .swiper-container1 .swiper-wrapper1 ul li .img-box p {
  font-family: "微软雅黑";
  font-size: 15px;
  color: #000;
  letter-spacing: 0.54px;
  line-height: 21px;
  margin-top: 20px;
  font-weight: 600;
}
.article-brand .brand-box .brand-right {
  padding: 1px;
  height: 100%;
  margin-left: 300px;
}
.article-brand .brand-box .btn-cta {
  position: absolute;
  left: 0;
  bottom: 42px;
}
.article-brand .brand-box .btn-cta .btn-sit {
  min-width: 270px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
}
.article-brand .brand-box .btn-cta .btn-sit span {
  display: inline-block;
}
.article-brand .brand-box .btn-cta .btn-sit span:last-child {
  position: absolute;
  right: 15px;
  top: 16px;
}
.article-brand .brand-box .btn-cta .btn-sit-fancy {
  padding: 0 15px 0 20px;
  text-align: left;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  box-shadow: 3px 3px 0 #3253d1;
}
.article-brand .brand-box .btn-cta .btn-sit-fancy:hover {
  background: #3253d1;
  box-shadow: 3px 3px 0 #000;
}
.footer {
  padding: 0;
}
.footer .footer-con div {
  padding: 60px 0 0;
}
.footer .footer-con .footer-top-left {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: -100px;
  min-width: 450px;
}
.footer .footer-con .footer-top-left li {
  float: left;
  padding-top: 10px;
  border: 1px solid #000;
  position: relative;
  width: 48%;
}
.footer .footer-con .footer-top-left li a {
  width: 100%;
  height: 90px;
  padding: 20px;
  border-top: 1px solid #000;
  display: block;
  position: relative;
}
.footer .footer-con .footer-top-left li a:hover {
  text-decoration: none;
}
.footer .footer-con .footer-top-left li a span {
  right: 19px;
  top: 57px;
  font-size: 20px;
  position: absolute;
}
.footer .footer-con .footer-top-left li h5 {
  margin-bottom: 1px;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 21px;
  font-weight: 700;
  margin-top: 0px;
}
.footer .footer-con .footer-top-left li p {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 18px;
  font-weight: normal;
}
.footer .footer-con .footer-top-left .free {
  margin-right: 15px;
  background: #fff;
}
.footer .footer-con .footer-top-left .free a {
  color: #000;
  background: #fff;
}
.footer .footer-con .footer-top-left .free:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: url("../images/bg-delivery.png");
}
.footer .footer-con .footer-top-left .find-us {
  margin-left: 15px;
}
.footer .footer-con .footer-top-left .find-us a {
  background: #000;
  color: #fff;
}
.footer .footer-con .sub {
  width: 100%;
  padding: 30px 0;
  background: #ffcd00;
  margin-top: 30px;
  text-align: center;
  float: right;
  position: relative;
}
.footer .footer-con .sub div {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer .footer-con .sub label {
  float: left;
  font-size: 20px;
  margin-top: 4px;
  font-weight: 700;
  color: #000;
  text-align: left;
  line-height: 18px;
  margin-bottom: 20px;
}
.footer .footer-con .sub .form-input {
  position: relative;
}
.footer .footer-con .sub .sub-content {
  width: 428px;
  display: inline-block;
  text-align: left;
  margin-left: 16px;
  margin-top: -11px;
  padding-bottom: 18px;
  border-bottom: 1px solid #000;
}
.footer .footer-con .sub .sub-content input {
  width: 100%;
  background: #ffcd00;
  border: 0!important;
  font-size: 15px;
  color: #000;
  padding-left: 0;
  height: 44px;
}
.footer .footer-con .sub .sub-btn {
  float: right;
  position: relative;
}
.footer .footer-con .sub .sub-btn .btn {
  min-width: 308px;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  padding: 0 20px;
  border-radius: 0;
  height: 50px;
  line-height: 48px;
  font-size: 15px;
}
.footer .footer-con .sub .sub-btn .btn-sit-black {
  width: 370px;
  color: #fff;
  letter-spacing: 0;
  background: black;
  border: 1px solid black;
  margin-right: -15px;
}
.footer .footer-bottom {
  max-width: 1230px;
  margin: 0 auto;
}
.footer .footer-bottom .footer-con {
  padding: 32px 15px 29px;
}
.footer .footer-bottom .footer-help {
  margin-bottom: 35px;
}
.footer .footer-bottom .footer-help li {
  float: left;
  margin-right: 40px;
}
.footer .footer-bottom .footer-help li a {
  color: black;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 18px;
  font-weight: 500;
}
.footer .footer-bottom .footer-help li a:hover {
  text-decoration: none;
}
.footer .footer-bottom .footer-help .btn {
  border: 1px solid #000;
  color: #000;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  padding: 0 20px;
  border-radius: 0;
  min-width: 240px;
  height: 50px;
  line-height: 48px;
  font-size: 15px;
}
.footer .footer-bottom .footer-help .btn-white-sec {
  letter-spacing: 0;
  background: 0 0;
}
.footer .footer-bottom .footer-right {
  width: 308px;
  float: right;
  margin-top: -100px;
}
.footer .footer-bottom .footer-right div {
  padding: 0px!important;
}
.footer .footer-bottom .footer-right .footer-fllow {
  margin-top: 14px;
  text-align: right;
  width: 100%;
}
.footer .footer-bottom .footer-right .footer-fllow li {
  margin-left: 40px;
  display: inline-block;
  margin-right: 20px;
}
.footer .footer-bottom .footer-right .footer-fllow li a:hover {
  text-decoration: none;
}
.footer .footer-bottom .footer-right .footer-fllow li:first-child {
  margin-left: 0;
  position: relative;
  margin-right: 0px;
}
.footer .footer-bottom .footer-right .footer-fllow li:first-child .wxerm {
  position: absolute;
  left: -51px;
  bottom: 28px;
  z-index: 3;
  padding-bottom: 14px;
}
.footer .footer-bottom .footer-right .footer-fllow li:first-child .wxerm img {
  width: 126px;
}
.footer .footer-bottom .footer-right .footer-fllow li a:hover {
  text-decoration: none;
}
.footer .footer-bottom .footer-right .footer-fllow li span {
  font-size: 20px;
}
.footer .footer-bottom .btn1 {
  border: 1px solid #000;
  color: #000;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  padding: 0 20px;
  border-radius: 0;
  min-width: 290px;
  height: 50px;
  line-height: 48px;
  font-size: 15px;
  background-color: white;
}
.footer .footer-bottom .btn1 i {
  background: url("../images/icon.png") no-repeat -230px -130px;
  width: 38px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-top: 15px;
}
.footer .footer-bottom .btn1 .country {
  float: left;
}
.footer .footer-bottom .dropdown-menu li span {
  display: inline-block;
  margin-left: 20px;
  margin-top: -10px;
}
.footer .footer-bottom .dropdown-menu li:first-child {
  background: url("../images/icon.png") no-repeat -230px -130px;
  width: 38px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.footer .footer-bottom .dropdown-menu li:last-child {
  background: url("../images/icon.png") no-repeat -230px -156px;
  width: 38px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.footer .footer-bottom .footer-copy {
  float: left;
  padding: 0px;
}
.footer .footer-bottom .footer-copy .footer-statement {
  float: right;
  padding: 0px;
}
.footer .footer-bottom .footer-copy .footer-statement li {
  margin-right: 29px;
  float: left;
  line-height: 20px;
}
.footer .footer-bottom .footer-copy .footer-statement li a {
  display: block;
  line-height: 20px;
  font-size: 15px;
}
.footer .footer-bottom .footer-copy .footer-statement li a:hover {
  text-decoration: none;
}
.footer .footer-bottom .footer-copy .footer-statement li a i {
  vertical-align: middle;
  margin-right: 8px;
}
.footer .footer-bottom .footer-copy .footer-statement li a i.icon1 {
  background: url("../images/icon.png") no-repeat -230px -235px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.footer .footer-bottom .footer-copy .footer-statement li a i.icon2 {
  background: url("../images/icon.png") no-repeat -210px -235px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.footer .footer-bottom .footer-copy .footer-icp {
  float: left;
  line-height: 20px;
  margin-right: 40px;
  padding: 0px;
}
.footer .footer-bottom .footer-copy .footer-icp i {
  color: #000;
  margin-right: 50px;
}
.footer .footer-bottom .footer-copy .footer-icp i.icon3 {
  background: url("../images/icon.png") no-repeat -136px -235px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.footer .back-top {
  position: fixed;
  bottom: 170px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 8;
}
.footer .back-top {
  position: fixed;
  bottom: 170px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 8;
}
.footer .back-top .icon4 {
  background: url("../images/icon.png") no-repeat -111px -43px;
  width: 60px;
  height: 53px;
  display: inline-block;
  vertical-align: middle;
}
.none {
  display: none;
  visibility: hidden;
}
