*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearFix::before {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
.m_t10 {
  margin-top: 10px;
}
.m_b10 {
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .hidden-sm {
    display: none !important;
  }
  .ws {
    width: 100% !important;
  }
  .ws p {
    text-align: center;
    margin: auto auto;
    padding: 10px !important;
  }
  .show-sm {
    display: block !important;
    visibility: visible!important;
  }
  .header-sit {
    height: 50px !important;
  }
  .header-sit .nav-container ul:last-child span {
    padding-top: 10px !important;
  }
  .header-sit .logo i {
    font-size: 23px !important;
    line-height: 23px !important;
    margin-top: -5px;
  }
  .header-sit .right li.header-shopping-bag a {
    padding-top: 10px !important;
  }
  .LogoImg {
    width: 190px!important;
    height: auto;
  }
  .text {
    font-size: 18px !important;
  }
  .col-sm-12-6 {
    width: 50% !important;
  }
  .part-width {
    width: 100% !important;
    padding: 20px;
  }
  .part-width.btn-group {
    padding: 12.5px 20px !important;
  }
  .part-width.btn-group ul li {
    max-width: 100%!important;
  }
  .part-width.btn-group ul li a {
    margin: 0 auto !important;
    min-width: 100%;
    width: 100% !important;
  }
  .part-width.btn-group ul li:first-child {
    width: 100% !important;
  }
  .part-width.btn-group ul li .btn-box {
    padding: 7.5px 10px 7.5px 0px !important;
  }
  .part-width.btn-group ul li .btn-box:nth-child(2n) {
    padding: 7.5px 0px 7.5px 10px !important;
  }
  .article-cont ul li {
    width: 100%!important;
    display: block;
  }
  .article-cont ul li:nth-child(1) {
    padding-right: 0px!important;
    margin: 0 auto;
  }
  .article-cont ul li:nth-child(2) {
    padding: 20px 0 0 !important;
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0, 0) !important;
  }
  .btn-cat .btn-sit-fancy {
    width: 100%!important;
  }
  .brand-box .brand-left {
    position: static!important;
    width: 100%;
    padding: 0 20px!important;
  }
  .brand-box .brand-right {
    padding: 20px 1px!important;
    position: static !important;
    margin: 0 auto!important;
  }
  .brand-box .btn-cta {
    position: static !important;
    padding: 0px 20px 20px 20px;
  }
  .brand-box .btn-cta .btn-sit-fancy {
    width: 100%!important;
  }
  .sub {
    padding: 30px 5px !important;
    background: #ffcd00 !important;
    width: 100% !important;
  }
  .sub label {
    margin-bottom: 38px !important;
    font-size: 20px !important;
    color: black !important;
    text-align: left !important;
    line-height: 20px !important;
    margin-left: 15px!important;
  }
  .sub .form-input {
    position: relative !important;
  }
  .sub .sub-content {
    margin-left: 0 !important;
    padding-bottom: 0 !important;
    width: 100%!important;
  }
  .sub .sub-content input {
    width: 100%!important;
    height: 30px!important;
    padding: 5px 0!important;
  }
  .sub .sub-btn {
    margin-top: 30px!important;
    width: 100%!important;
    padding: 0px!important;
  }
  .sub .sub-btn .btn {
    width: 100%!important;
  }
  .footer-top .free {
    margin-right: 8px!important;
  }
  .footer-top .find-us {
    margin-left: 8px!important;
  }
  .footer-bottom {
    background: #ffcd00;
    margin-top: -15px !important;
  }
  .footer-bottom .footer-con {
    padding: 0 20px!important;
    margin-left: 15px;
  }
  .footer-bottom .footer-help {
    margin-bottom: 9px!important;
  }
  .footer-bottom .footer-help li {
    margin-right: 0px !important;
    margin-bottom: 20px;
    width: 44%;
  }
  .footer-bottom .footer-help li:first-child {
    margin-bottom: 33px;
    width: 100%;
    margin-right: 0px;
  }
  .footer-bottom .footer-help li div {
    margin-top: -45px !important;
  }
  .footer-bottom .footer-help li a span {
    font-size: 18px;
    margin-right: 6px;
    margin-top: 1px;
    vertical-align: top;
  }
  .footer-bottom .footer-help li .btn {
    width: 100%;
    margin-top: 10px;
  }
  .footer-bottom .footer-help a {
    font-size: 15px;
  }
  .footer-bottom .footer-copy {
    min-width: 590px;
    width: 100%;
  }
  .footer-bottom .footer-copy .footer-statement {
    margin: 21px 0 10px ;
    width: 100%;
  }
  .footer-bottom .footer-copy .footer-statement ul {
    width: 100%;
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-statement ul li {
    margin-right: 0!important;
    line-height: 20px;
    margin-bottom: 20px!important;
    display: inline-block;
    float: none;
  }
  .footer-bottom .footer-copy .footer-statement ul li a {
    font-size: 10px!important;
  }
  .footer-bottom .footer-copy .footer-statement ul li:first-child {
    width: 17%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:first-child a {
    text-align: left;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(2) {
    width: 28%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(2) a {
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(3) {
    width: 31%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(3) a {
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(4) {
    width: 24%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(4) a {
    text-align: right;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(5) {
    width: 34%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(5) a {
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(6) {
    width: 66%;
  }
  .footer-bottom .footer-copy .footer-statement ul li:nth-child(6) a {
    text-align: center;
  }
  .footer-bottom .footer-copy .footer-icp {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 0px;
  }
  .footer-right {
    position: relative;
    width: 100%!important;
  }
  .footer-right .dropdown-menu {
    bottom: 50%;
    width: 100%;
  }
  .footer-right .footer-fllow {
    text-align: center!important;
    width: 100%;
    margin-top: 40px !important;
  }
  .footer-right .footer-fllow li {
    margin: 0 20px;
  }
  .footer-right .footer-fllow span {
    font-size: 30px!important;
  }
  .footer-right .btn1 {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .show-sm {
    display: none !important;
  }
  .header-sit {
    height: 60px !important;
  }
  .col-12-4 {
    width: 33.33333333%;
  }
  .col-12-3 {
    width: 25%;
  }
  .thumbnail {
    width: 23% !important;
    border: 1px solid black !important;
    border-radius: 0px!important;
    display: inline-block;
  }
}
.part-width {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 25px;
}
.clearfix {
  clear: both;
}
.footer-sit .footer-top .footer-con .sub .sub-content input::-webkit-input-placeholder {
  color: #000;
}
.dropdown-menu {
  min-width: 290px!important;
}
.caret {
  float: right;
  margin-top: 20px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
