*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearFix::before {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
.m_t10 {
  margin-top: 10px;
}
.m_b10 {
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .hidden-sm {
    display: none !important;
  }
  .ws {
    width: 100% !important;
  }
  .ws p {
    text-align: center;
    margin: auto auto;
    padding: 10px !important;
  }
  .show-sm {
    display: block !important;
  }
  .header-sit {
    height: 50px !important;
  }
  .header-sit .nav-container ul:last-child span {
    padding-top: 10px !important;
  }
  .header-sit .logo i {
    font-size: 23px !important;
    line-height: 23px !important;
    margin-top: -5px;
  }
  .header-sit .right li.header-shopping-bag a {
    padding-top: 10px !important;
  }
}
@media screen and (min-width: 1024px) {
  .show-sm {
    display: none !important;
  }
  .header-sit {
    height: 60px !important;
  }
}
